

 <!--Llamando al parcial head -->

   {{> head }}



    <!--Llamando al parcial navbar -->

   {{> navbar }}



    <div class="row"></div>
    <div class="col-8">
        <h1>Node Js</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/node.jpg" class="img-thumbnail">

    </div>

     <!--Llamando al parcial footer -->

   {{> footer }}