

 <!--Llamando al parcial head -->

   {{> head }}



    <!--Llamando al parcial navbar -->

   {{> navbar }}



    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}</h1>
        <p class="lead">Este código es útil para probar los helpers y los parciales</p>
        <hr class="my-4">
    </div>


     <!--Llamando al parcial footer -->

   {{> footer }}